Meta
doc
*.Rproj.*
.Rhistory
*.RData*
docs/*
inst/doc
portalcasting/*
test/*
tests/testthat/testing/*
tests/testthat/prod/*
tests/testthat/sand/*
tests/testthat/test/*
model_testing/*
testing/*
testing_dir/*
*.bak
/doc/
/Meta/
inst/app/models.knit.md
*.DS_Store*
