# run extra test scripts

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

name: test-extra

jobs:
  R-CMD-check:
    runs-on: ubuntu-latest

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes

    steps:
      - uses: actions/checkout@v3

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2

      - name: HERE
        run: |
          list.files();
          list.files("inst");
          install.packages("devtools");
          devtools::load_all();
          source(file.path("inst", "extra_testing", "test_vignettes.R"));
        shell: Rscript {0}